

// extensions
%flex-row {
    display: flex;
    flex-direction: row;
}
%flex-col {
    display: flex;
    flex-direction: column;
}
%flex-center {
    justify-content: center;
    align-items: center;
}
%flex-shrink {
    flex-shrink: 0;
}
%flex-grow-1{
    flex-grow: 1;
}
%splitview-base-icon {
    min-width: $splitview-icon-size;
    font-size: 1rem;
    line-height: 1rem;
}
%full-size-absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
%cursor-pointer {
    cursor: pointer;
}

// Component
.splitview {
    @extend %full-size-absolute;
    @extend %flex-col;

    .splitview-toggle-menu{
        @extend %flex-row;
        @extend %flex-center;
        @extend %cursor-pointer;
        @extend %splitview-base-icon;

        &:hover {
            background-color: $splitview-hover-background-color
        }
    }    

    .splitview-header {
        @extend %flex-row;
        @extend %flex-shrink;
        min-height: $splitview-icon-size;
        overflow: hidden;    

        .splitview-header-title{
            @extend %flex-row;
            @extend %cursor-pointer;
            text-decoration: none;
            color: inherit;

            &:hover{
                background-color: $splitview-hover-background-color;
            }

            .splitview-header-iconapp{
                @extend %flex-row;
                @extend %flex-center;
                @extend %splitview-base-icon;

                img {
                    height: 1.5rem;
                    width: 1.5rem;
                }
            }
            .splitview-header-label{
                @extend %flex-row;
                @extend %flex-center;
                margin-right: 15px;
            }

        }
    }

    .splitview-body{
        @extend %flex-row;
        @extend %flex-grow-1;
        overflow: hidden;
        position: relative;
    }

    .splitview-panel {
        @extend %flex-col;
        @extend %flex-shrink;
        overflow: hidden;
        overflow-y: auto;
        width: $splitview-panel-width;
        transition: width .3s;
        // background-color: rgb(219, 219, 219);
        background-color: $light-color2;
        z-index: 999;

    }

    .splitview-content{
        @extend %flex-col;
        @extend %flex-grow-1;
        padding: 15px;        
        //background-color: white;
        overflow: hidden;
        overflow-y: auto;
    }

    .splitview-backdrop {
        display: none;
        transition: all .4s;
        @extend %full-size-absolute;
        z-index: 101;
    }

    @include media-breakpoint-only(xs) {
        &[IsTogglePanel=false] .splitview-panel{            
            left: -$splitview-panel-width;
        }
        &[IsTogglePanel=true] .splitview-panel{
            left: 0;
        }

        &[IsTogglePanel=true] .splitview-backdrop {
            display: flex;
            background-color: rgba(112, 111, 111, 0.473);
        }

        .splitview-panel{
            transition: all .4s;
            position: absolute;
            top: 0;
            bottom: 0;
        }
    }
    @include media-breakpoint-only(sm) {
        &[IsTogglePanel=false] .splitview-panel{            
            left: -$splitview-panel-width;
        }
        &[IsTogglePanel=true] .splitview-panel{
            left: 0;
        }

        &[IsTogglePanel=true] .splitview-backdrop {
            display: flex;
            background-color: rgba(112, 111, 111, 0.473);
        }

        .splitview-panel{
            transition: all .4s;
            position: absolute;
            top: 0;
            bottom: 0;
        }
    }
    @include media-breakpoint-only(md) {
        &[IsTogglePanel=false] .splitview-panel{
            transition: none;
            width: $splitview-panel-small-width;
        }
        &[IsTogglePanel=true] .splitview-panel{
            width: $splitview-panel-width;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
        }
    }
    @include media-breakpoint-only(lg) {
        &[IsTogglePanel=false] .splitview-panel{
            width: $splitview-panel-small-width;
        }
    }
    @include media-breakpoint-only(xl) {
        &[IsTogglePanel=false] .splitview-panel{
            width: $splitview-panel-small-width;
        }
    }
}


/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 9px rgb(78, 78, 78); 
    border-radius: 0px;
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(206, 84, 223); 
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(192, 1, 160); 
}

// /* Customize website's scrollbar like Mac OS
// Not supports in Firefox and IE */

