.gs-Icon, .mdl2 {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: 'FabricMDL2Icons', 'FabricMDL2Icons2', 'AzureMDL2Icons', 'Segoe MDL2 Assets', 'MDL2'!important;
    font-style: normal;
    font-weight: normal;
}