@namespace GeekSeven.GeekUI.Components

<li class="nav-item dropdown @(IsShow ? "show":"")">
    <a class="nav-link dropdown-toggle" @onclick="(() => IsShow = !IsShow)" @onfocusout="(() => IsShow = false)" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="@(!IsShow)">@Title</a>
    <div class="dropdown-menu @(IsShow ? "show":"")">
        @if(ChildContent != null)
        @ChildContent
    </div>
</li>

@code
{
    private string ID { get; set; } = Guid.NewGuid().ToString().Replace("-", "");

    [Parameter] public bool IsShow { get; set; }

    [Parameter] public string Title { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }
}
